/*------ -[Gama Custom] Layout Position Setting, edit by: gamaC-----------------*/
/**Animate Control - Dashboard only**/
#plurk-dashboard, #dashboard_holder:hover,#plurk_form:hover, #more_options:hover, #dash-stats, #dash-friends,#dash-fans,p#about_me{
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-khtml-transition: all 0.5 ease-in-out;
}
#plurk_form,#dashboard_holder,#more_options{
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-khtml-transition: all 1 ease-in-out;
	-webkit-transition-delay: 1s;
	-moz-transition-delay: 1s;
	-o-transition-delay: 1s;
}


body{
	overflow-x:hidden;
	overflow-y:scroll;
}
/**Big Plurk positioning (page of a **/
#plurk_responses{
	position:fixed;
	top:250px;
	left:30%;
	height:400px;
	width:40%;
	overflow-y:scroll;
}
#dashboard_holder #plurker_info{
	height:250px;
	overflow:hidden;
	position:fixed;
	right:10%;
}
/**User info positioning**/
#plurk-dashboard{
	position:fixed;
	height:10px;
	width:10px;
	right:20px; 
	bottom:20px;
	z-index:1451; /*upper than respon :1450*/
	box-shadow: rgba(255,255,255,0.5) 0px 0px 10px; 
	overflow-y:hidden;
}
#plurk-dashboard:hover{
	background:#FFF;
	height:600px;
	width:210px;
	filter:alpha(opacity=90) !important;
	-moz-opacity:.9 !important;
	opacity:.9 !important;
}


#main_poster{
	padding:0x; 
	border-radius:0px; 
}


/**Content of User info**/
.dash-segment {
width:100%;
padding:0;
margin:0;
min-height:50px;
}
.dash-segment .segment-content {
padding:0px;
}
#profile_pic{
width:150px;
margin:0 auto;
border:0px;
}

#dash-stats,#dash-friends,#dash-fans{
	border-top:0px #CCC solid !important;
	overflow:hidden;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-o-border-radius: 0px;
	margin-top:-10px;
	padding-bottom:5px;
}
#dash-stats{
	height:50px;
}

#dash-stats .link_arrow{
	width:auto;
}
#dash-friends,#dash-fans{
	height:50px;
}
#dash-additional-info {
	padding: 0;
}

#dash-stats h2, #dash-friends h2, #dash-fans h2{
	font-size:0px;	
}
#dash-friends h3,#dash-stats h3{padding:0;margin:0;font-size:15px;text-align:center;}
#dash-stats h2,#dash-stats .link_arrow{margin:0;padding:0;height:0px;overflow:hidden;line-height:0px;}
#karma{font-size:20px;}
#dash-stats:hover{height:50px;}
#dash-friends:hover{height:50px;}
#dash-fans:hover{height:50px;}

#dashboard_holder{
	width:70% !important;
	z-index:999;
	position:absolute; 
	bottom:100px;
	margin:0 auto;
	margin-left:15%;
}

#plurk_form{
	margin-bottom: 0;
	height:30px; 
	background:transparent !important;
	overflow:hidden;
	opacity:0;
}

#plurk_form:hover{
	height:275px;
	overflow:display;
	opacity:1;
}
textarea#input_big.content{color:#CCC !important;line-height: 1.3em;} /* 設定發新噗文字方塊內的字體色彩*/

footer{
max-width:80% !important;
width:100% !important; 
position:fixed;
bottom:0;
left:10px;
margin-left:5%;
margin-bottom:0;
}

.browse_button{
filter:alpha(opacity=0) !important;
-moz-opacity:.0 !important;
opacity:.0 !important;
}

.award_bar div { 
padding:0 !important; 
margin:0 !important; 
}
#dash-stats .award_bar div{width:35px;}

#dash-stats .award_bar img {
-moz-transform: scale(0.6);
-khtml-transform: scale(0.6);
-webkit-transform: scale(0.6);
	-o-transform: scale(0.6);
}
.cmp_media_off, .cmp_sync_off, .cmp_privacy_off{
width:25px !important ;
height:25px !important;
}
.cmp_media_on, .cmp_sync_on, .cmp_privacy_on:hover {
width:25px !important ;
height:30px !important;}

/** transparent BG **/
.dash-segment, #dash-profile, #dash-stats, #dash-friends,#dash-fans{
background:transparent !important;
}

/**Timeline Setting**/
#timeline_cnt{
margin-top:20px;
height:650px !important;
}

#timeline_holder
{
height:650px !important;
}

#timeline_bg, .block_cnt, #timeline_fg, .block_bg, .block_fg {
height:650px !important;
}
.div_inner{
height:630px !important;
}

#filter_tab{
margin-top:-650px;
z-index:700;
}

.day_start .bottom_start, .day_start .div_start{
margin-top:0px;
}
#updater {
top:600px;
}
#time_show span {
margin-top:0px;
color:#FFF;
}

/**set plurker name spirt in new line***/
.td_qual {
position:absolute;
}

.td_cnt{
padding-top:20px;
padding-left:5px;
}

/**set min-width of plurking box**/
.plurk_cnt table, #timeline_cnt .plurk .text_holder, #timeline_cnt .plurk .truncated_media_height {
min-width:200px;
}

/* Footer Links */
#footer {
	color: #FFF;
}

#footer a {
	color: #FFF;
	font-weight: bold;}

/**hide advertisment*/
.adsense{right:1000px;} 
#resp_banner_ads.show{height:0px;}


/*Scroll-bar color setting*/
::-moz-scrollbar
{
	background:transparent !important;
	-moz-border-radius:2px;
	-moz-box-shadow:0px 0px 5px #ccc;
}
::-moz-scrollbar:hover {background:transparent !important;}
::-moz-scrollbar-thumb {background:rgba(255,255,255,0.01) !important;}
::-moz-scrollbar-thumb:hover {background:transparent !important;}
::-moz-scrollbar-thumb:active {background:transparent !important;}

::-webkit-scrollbar
{
	background:transparent !important;
	-webkit-border-radius:2px;
	-webkit-box-shadow:0px 0px 5px #ccc;
}
::-webkit-scrollbar:hover {background:transparent !important;}
::-webkit-scrollbar-thumb {background:rgba(255,255,255,0.01) !important; border:1px solid #CCC;border-width:1px 0;}
::-webkit-scrollbar-thumb:hover {background:transparent !important;}
::-webkit-scrollbar-thumb:active {background:transparent !important;}